<?xml version="1.0"?>
<Settings>
    <RootPath>\\SERVERNAME\Share\Folder\NoTrailingSlash</RootPath>
	<VerboseLogging>False</VerboseLogging>
    <CompletedNotification>Email</CompletedNotification>
	<Compression>Zip</Compression>
	<EmailToText>Driver Import Team</EmailToText>
	<EmailToAddress>email@domain.tld</EmailToAddress>
	<EmailFromText>Driver Extraction Tool</EmailFromText>
	<EmailFromAddress>drivers@domain.tld</EmailFromAddress>
	<EmailSubject>Driver Capture Completed</EmailSubject>
	<EmailServer>smtp.domain.tld</EmailServer>
</Settings>